html {
    font-size: rem(14px);

    @include for-normal-layout {
        font-size: rem(19.77px);
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Assistant-regular', sans-serif;
    font-weight: 400;

    margin: 0;
    line-height: rem(25px);

    background-color: $main-bgc-clr;
    direction: rtl;

}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        cursor: pointer;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

main {
    grid-column: 2;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    margin-left: -1px;
}

ul {
    list-style: none;
    padding: 0;
}