.first-stage-introduction {
    // font-size: rem(20px);

    .intro-txt {
        display: flex;
        flex-direction: column;
        // max-width: rem(700px);
        font-size: rem(30px);
        line-height: rem(36px);
        margin-top: rem(53px);
        margin-bottom: rem(36px);
    }


    .first-stage-conditions-list {
        // display: grid;
        display: flex;
        // grid-template-columns: repeat(5, 1fr);
        // gap: rem(16px);
        margin-bottom: rem(35px);

        .first-stage-condition-preview {
            padding: rem(34px) rem(26px) rem(33.5px) rem(24px);
            background-color: white;
            width: rem(227px);
            height: rem(329px);
            // flex-grow: 1;

            h3 {
                color: $app-orange;
                font-size: rem(30px);
                margin-top: rem(15px);
            }

            img {
                height: rem(62px);
            }

           
        }
    }
    
    .actions {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: rem(35px);
            width: rem(135px);
        }

        @include app-checkbox($size: 30px);

        button {
            @include button;
        }
    }
}