.first-stage-introduction {
    // font-size: rem(20px);

    p {
        display: flex;
        flex-direction: column;
        // max-width: rem(700px);
    }

    .actions {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: rem(35px);
            width: rem(135px);
        }

        @include app-checkbox($size: 30px);

        button {
            @include button;
        }
    }

    .first-stage-conditions-list {
        display: flex;
        gap: rem(16px);
        margin-bottom: rem(35px);
        // flex-wrap: wrap;

        .first-stage-condition-preview {
            padding: rem(20px) rem(20px);
            background-color: white;
            width: rem(230px);
            height: rem(220px);
            flex-grow: 1;

            h3 {
                color: $app-orange;
            }

            img {
                height: rem(32px);
            }

            p {
                // font-size: rem(12px);
                line-height: rem(15px);
            }
        }
    }
}