.questionnaire {
    margin-top: 100px;

    p {
        // max-width: rem(1180px);

    }

    .questionnaire-list {
        display: flex;
        gap: rem(20px);

        .questionnaire-card {
            background-color: #fff;
            width: rem(387px);
            height: rem(328px);
        }
    }

}