.questionnaire {
    margin-top: 100px;

    .questionnaire-top-container {
        // max-width: rem(1180px);

    }

    .questionnaire-bottom-container {
        width: 1201px;
        height: 328px;

        .questionnaire-card {}
    }

}