@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

@mixin layoutGTC($max) {
    grid-template-columns:
        minmax($layoutPadding, 1fr) minmax(auto, $max) minmax($layoutPadding, 1fr);
}

@mixin mobile-layout {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin narrow-layout {
    @media (min-width: 400px) {
        @content;
    }
}

@mixin normal-layout {
    @media (min-width: 745px) {
        @content;
    }
}

@mixin wide-layout {
    @media (min-width: 830px) {
        @content;
    }
}


@mixin app-checkbox ($size: rem(21px)) {
    label {
        display: flex;
        align-items: center;

        input[type='checkbox'] {
            appearance: none;
            -webkit-appearance: none;
            border: 1px solid #d5d5d5;
            height: $size;
            position: relative;
            width: $size;
            background-color: white;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                content: 'v';
                position: absolute;
                transform: translateY(-1px);
                background-position: center;
                background-size: cover;
                background-size: auto 100%;
                font-size: $size;
                font-weight: bold;
                background-repeat: no-repeat;
                display: none;
                color: white;
            }

            &:hover {
                background-color: #d5d5d5;
            }

            &:checked {
                background-color: #26C6DA;
                border-color: #26C6DA;
            }

            &:checked:after {
                display: flex;
            }
        }


    }
}


@mixin button($font-size: rem(30px), $background-color: $app-orange, $border-radius: 15px,
    $text-clr: white, $width: rem(318px), $height: rem(66.25px)) {
    background-color: $background-color;
    font-size: $font-size;
    color: $text-clr;
    border: none;
    border-radius: $border-radius;
    width: $width;
    height: $height;
    transition: all 300ms;
}